
$primary: #0d6efd !default;
$accent: #6610f2 !default;
$secondary: #6c757d !default;
$danger: #dc3545 !default;
$warning: #ffc107 !default;
$success: #198754 !default;
$info: #0dcaf0 !default;

$text-body: #263238 !default;
$text-light: #ffffff !default;
$text-dark: #000000 !default;
$text-muted: #6c757d !default;
$text-white: #ffffff !default;


$link-color: $primary !default;
$link-hover-color: darken($link-color, 10%) !default;

$lighten_percent: 40% !default;


$soft-primary: lighten($primary, $lighten_percent) !default;
$soft-accent: lighten($accent, $lighten_percent) !default;
$soft-secondary: lighten($secondary, $lighten_percent) !default;
$soft-danger: lighten($danger, $lighten_percent) !default;
$soft-warning: lighten($warning, $lighten_percent) !default;
$soft-success: lighten($success, $lighten_percent) !default;
$soft-info: lighten($info, $lighten_percent) !default;


